export PATH="$PATH:$HOME/apps/talktalk/.build/release/"
export PATH="/opt/homebrew/opt/llvm/bin:$PATH"
export PKG_CONFIG_PATH=$PWD
export LLVM_SOURCE_DIR=$PWD/tmp/LLVM/llvm
export LLVM_BUILD_DIR=$PWD/tmp/LLVMBuild
export CPU_NUM=`sysctl -n hw.ncpu`
