.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.swiftpm/
cllvm.pc
lsp.log
Standard.tlkmodule
Release/
.vscode
TalkTalk.zip

# When we build for wasm, we can't load the stdlib the normal way
Sources/TalkTalkCore/embedded-stdlib.swift
*.wasm
